.DownloadButton {
  /* background-color: rgb(16, 14, 22); */
  background-image: linear-gradient(
    rgb(71, 113, 173),
    rgb(112, 148, 205),
    rgb(71, 113, 173)
  );
  color: rgb(255, 255, 255);
  /* height: 25px; */
  /* padding: 0; */
  font-size: 0.8rem;
  font-weight: 2rem;
  float: right;
}

.DownloadButton:hover {
  background-color: rgb(16, 14, 22);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.Header {
  background-color: rgb(16, 14, 22);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.Table {
  clear: both;
}
